In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from time import perf_counter

In [2]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn import tree

In [3]:
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
optimizer = keras.optimizers.Adam()

In [4]:
data = pd.read_excel("data.xlsx")

In [5]:
data

        X          y
0    1657    healthy
1    3296    healthy
2    4930    healthy
3    6565    healthy
4    8211    healthy
..    ...        ...
478  8382  unhealthy
479  8372  unhealthy
480  8372  unhealthy
481  8379  unhealthy
482  8368  unhealthy

[483 rows x 2 columns]

In [6]:
data['y'].replace(to_replace=["healthy","unhealthy"],value=[0,1],inplace=True)

In [7]:
data['y']

0      0
1      0
2      0
3      0
4      0
      ..
478    1
479    1
480    1
481    1
482    1
Name: y, Length: 483, dtype: int64

In [8]:
X = data[["X"]]
X

        X
0    1657
1    3296
2    4930
3    6565
4    8211
..    ...
478  8382
479  8372
480  8372
481  8379
482  8368

[483 rows x 1 columns]

In [9]:
y = data["y"]

In [10]:
y

0      0
1      0
2      0
3      0
4      0
      ..
478    1
479    1
480    1
481    1
482    1
Name: y, Length: 483, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Decision Tree

In [34]:
dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)
start = perf_counter()
y_pred = dt.predict(X_test)
end = perf_counter()
dt_time_sec = end-start
acc=accuracy_score(y_test,y_pred)*100
print(f"The accuracy of the Decision Tree Model is {acc}")
print(f"Time taken by Decision Tree: {dt_time_sec}")

The accuracy of the Decision Tree Model is 98.96907216494846
Time taken by Decision Tree: 0.0030040000000042255

## Random Forest

In [33]:
clf=RandomForestClassifier(n_estimators=30)
clf.fit(X_train,y_train)
start = perf_counter()
y_pred = clf.predict(X_test)
end = perf_counter()
rf_time_sec = end-start
acc=accuracy_score(y_test,y_pred)*100
print(f"The accuracy of the Decision Tree Model is {acc}")
print(f"Time taken by Random Forest: {rf_time_sec}")

The accuracy of the Decision Tree Model is 97.9381443298969
Time taken by Random Forest: 0.003872299999997608

## ANN

In [14]:
ann_model = Sequential([Dense(12, input_dim=1, activation='relu'),
                   Dense(8, activation='relu'),
                   Dense(1, activation='sigmoid')])
ann_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 12)                24
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 104
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 9
=================================================================
Total params: 137
Trainable params: 137
Non-trainable params: 0
_________________________________________________________________

In [15]:
ann_model.compile(
    optimizer = optimizer,
    loss = 'binary_crossentropy',
    metrics = ['accuracy']
)

In [16]:
ann_model.fit(X_train,y_train,epochs=50)

Epoch 1/50
13/13 [==============================] - 0s 2ms/step - loss: 38.8907 - accuracy: 0.9870
Epoch 2/50
13/13 [==============================] - 0s 2ms/step - loss: 33.3864 - accuracy: 0.9870
Epoch 3/50
13/13 [==============================] - 0s 2ms/step - loss: 27.9179 - accuracy: 0.9870
Epoch 4/50
13/13 [==============================] - 0s 2ms/step - loss: 22.0267 - accuracy: 0.9870
Epoch 5/50
13/13 [==============================] - 0s 2ms/step - loss: 17.3190 - accuracy: 0.9870
Epoch 6/50
13/13 [==============================] - 0s 2ms/step - loss: 13.8239 - accuracy: 0.9870
Epoch 7/50
13/13 [==============================] - 0s 2ms/step - loss: 11.1600 - accuracy: 0.9870
Epoch 8/50
13/13 [==============================] - 0s 2ms/step - loss: 8.5398 - accuracy: 0.9870
Epoch 9/50
13/13 [==============================] - 0s 2ms/step - loss: 6.5598 - accuracy: 0.9870
Epoch 10/50
13/13 [==============================] - 0s 2ms/step - loss: 4.1049 - accuracy: 0.9870
Epoch 11/50
13/13 [==============================] - 0s 2ms/step - loss: 2.0602 - accuracy: 0.9870
Epoch 12/50
13/13 [==============================] - 0s 2ms/step - loss: 1.1463 - accuracy: 0.9093
Epoch 13/50
13/13 [==============================] - 0s 2ms/step - loss: 2.5381 - accuracy: 0.9870
Epoch 14/50
13/13 [==============================] - 0s 3ms/step - loss: 2.5127 - accuracy: 0.9870
Epoch 15/50
13/13 [==============================] - 0s 2ms/step - loss: 1.9180 - accuracy: 0.9870
Epoch 16/50
13/13 [==============================] - 0s 2ms/step - loss: 1.2538 - accuracy: 0.9870
Epoch 17/50
13/13 [==============================] - 0s 2ms/step - loss: 0.4763 - accuracy: 0.9870
Epoch 18/50
13/13 [==============================] - 0s 1ms/step - loss: 0.3198 - accuracy: 0.9870
Epoch 19/50
13/13 [==============================] - 0s 2ms/step - loss: 0.8019 - accuracy: 0.9870
Epoch 20/50
13/13 [==============================] - 0s 2ms/step - loss: 0.3839 - accuracy: 0.9870
Epoch 21/50
13/13 [==============================] - 0s 2ms/step - loss: 0.7609 - accuracy: 0.9870
Epoch 22/50
13/13 [==============================] - 0s 2ms/step - loss: 0.6701 - accuracy: 0.9870
Epoch 23/50
13/13 [==============================] - 0s 2ms/step - loss: 0.4561 - accuracy: 0.9041
Epoch 24/50
13/13 [==============================] - 0s 2ms/step - loss: 1.4530 - accuracy: 0.9870
Epoch 25/50
13/13 [==============================] - 0s 1ms/step - loss: 1.4298 - accuracy: 0.9870
Epoch 26/50
13/13 [==============================] - 0s 2ms/step - loss: 0.8985 - accuracy: 0.9870
Epoch 27/50
13/13 [==============================] - 0s 2ms/step - loss: 0.2370 - accuracy: 0.9870
Epoch 28/50
13/13 [==============================] - 0s 2ms/step - loss: 0.2081 - accuracy: 0.9870
Epoch 29/50
13/13 [==============================] - 0s 3ms/step - loss: 0.1769 - accuracy: 0.9870
Epoch 30/50
13/13 [==============================] - 0s 2ms/step - loss: 0.1537 - accuracy: 0.9870
Epoch 31/50
13/13 [==============================] - 0s 3ms/step - loss: 0.1493 - accuracy: 0.9870
Epoch 32/50
13/13 [==============================] - 0s 2ms/step - loss: 0.1923 - accuracy: 0.9870
Epoch 33/50
13/13 [==============================] - 0s 2ms/step - loss: 0.2892 - accuracy: 0.9870
Epoch 34/50
13/13 [==============================] - 0s 2ms/step - loss: 0.2986 - accuracy: 0.9870
Epoch 35/50
13/13 [==============================] - 0s 2ms/step - loss: 0.0852 - accuracy: 0.9870
Epoch 36/50
13/13 [==============================] - 0s 2ms/step - loss: 0.1989 - accuracy: 0.9870
Epoch 37/50
13/13 [==============================] - 0s 2ms/step - loss: 0.1107 - accuracy: 0.9870
Epoch 38/50
13/13 [==============================] - 0s 2ms/step - loss: 0.3023 - accuracy: 0.9870
Epoch 39/50
13/13 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.9870
Epoch 40/50
13/13 [==============================] - 0s 2ms/step - loss: 0.2818 - accuracy: 0.9870
Epoch 41/50
13/13 [==============================] - 0s 2ms/step - loss: 0.1355 - accuracy: 0.9870
Epoch 42/50
13/13 [==============================] - 0s 2ms/step - loss: 0.2345 - accuracy: 0.9870
Epoch 43/50
13/13 [==============================] - 0s 2ms/step - loss: 0.1168 - accuracy: 0.9870
Epoch 44/50
13/13 [==============================] - 0s 2ms/step - loss: 0.1569 - accuracy: 0.9870
Epoch 45/50
13/13 [==============================] - 0s 2ms/step - loss: 0.0934 - accuracy: 0.9870
Epoch 46/50
13/13 [==============================] - 0s 2ms/step - loss: 0.1675 - accuracy: 0.9870
Epoch 47/50
13/13 [==============================] - 0s 2ms/step - loss: 0.1037 - accuracy: 0.9870
Epoch 48/50
13/13 [==============================] - 0s 2ms/step - loss: 0.1865 - accuracy: 0.9870
Epoch 49/50
13/13 [==============================] - 0s 2ms/step - loss: 1.5866 - accuracy: 0.9093
Epoch 50/50
13/13 [==============================] - 0s 2ms/step - loss: 1.5316 - accuracy: 0.9870

In [17]:
loss, acc = ann_model.evaluate(X_test, y_test)
print(f"Accuracy: {acc*100}")

4/4 [==============================] - 0s 2ms/step - loss: 1.1357 - accuracy: 0.9897
Accuracy: 98.96907210350037

In [32]:
start = perf_counter()
y_pred=ann_model.predict(X_test).round()
end = perf_counter()
ann_time_sec = end-start
acc=accuracy_score(y_test,y_pred)*100
print(f"Accuracy of ann is: {acc}")
print(f"Time taken by ANN: {ann_time_sec}")

Accuracy of ann is: 98.96907216494846
Time taken by ANN: 0.056160299999994834

In [19]:
X_test

        X
200  8326
365  8421
133  8344
318  8332
374  8371
..    ...
354  8350
51   8294
464  8340
67   8224
424  8411

[97 rows x 1 columns]

In [20]:
test = pd.read_excel("test.xlsx")
type(test)

pandas.core.frame.DataFrame

In [21]:
test

        X
0    1702
1    3412
2    5116
3    6828
4    8535
..    ...
118  8481
119  8502
120  8498
121  8495
122  8498

[123 rows x 1 columns]

### Predicting the testing model with ANN

In [22]:
y_pred_ann = ann_model.predict(test).round()
y_pred_ann = y_pred_ann.flatten()
y_pred_ann

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0.], dtype=float32)

### Predicting the testing data with Decision Tree

In [23]:
y_pred_dTree = dt.predict(test)

### Predicting the testing data with Random Forest

In [24]:
y_pred_RF = clf.predict(test)

In [25]:
def insert_col(df,ind,col,val):
    return df.insert(loc=ind,column=col,value=val)

In [26]:
temp = {'Decision Tree':y_pred_dTree,
        'Random Forest':y_pred_RF,
        'ANN':y_pred_ann}
temp=pd.DataFrame(temp)

insert_col(test,1,"Decision Tree",y_pred_dTree)
insert_col(test,2,"Random Forest",y_pred_RF)
insert_col(test,3,"ANN",y_pred_ann)
test

        X  Decision Tree  Random Forest  ANN
0    1702              0              0  0.0
1    3412              0              0  0.0
2    5116              0              0  0.0
3    6828              0              0  0.0
4    8535              0              0  0.0
..    ...            ...            ...  ...
118  8481              0              0  0.0
119  8502              0              0  0.0
120  8498              0              0  0.0
121  8495              0              0  0.0
122  8498              0              0  0.0

[123 rows x 4 columns]

In [27]:
test

        X  Decision Tree  Random Forest  ANN
0    1702              0              0  0.0
1    3412              0              0  0.0
2    5116              0              0  0.0
3    6828              0              0  0.0
4    8535              0              0  0.0
..    ...            ...            ...  ...
118  8481              0              0  0.0
119  8502              0              0  0.0
120  8498              0              0  0.0
121  8495              0              0  0.0
122  8498              0              0  0.0

[123 rows x 4 columns]

In [28]:
test.to_excel("test_result.xlsx")

In [29]:
test_result = pd.read_excel("test_result.xlsx")
test_result

     Unnamed: 0     X  Decision Tree  Random Forest  ANN
0             0  1702              0              0    0
1             1  3412              0              0    0
2             2  5116              0              0    0
3             3  6828              0              0    0
4             4  8535              0              0    0
..          ...   ...            ...            ...  ...
118         118  8481              0              0    0
119         119  8502              0              0    0
120         120  8498              0              0    0
121         121  8495              0              0    0
122         122  8498              0              0    0

[123 rows x 5 columns]

In [30]:
temp = {'Model':['Random Forest', 'Decision Tree', 'ANN'],
        'Time in seconds':[rf_time_sec, dt_time_sec, ann_time_sec]}
df = pd.DataFrame(temp)
df

           Model  Time in seconds
0  Random Forest         0.003705
1  Decision Tree         0.003099
2            ANN         0.136693

In [31]:
df.to_csv("time-taken-by-final-model.csv")