In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn import tree

In [3]:
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
optimizer = keras.optimizers.Adam()

In [4]:
data = pd.read_excel("data.xlsx")

In [5]:
data

        X          y
0    1657    healthy
1    3296    healthy
2    4930    healthy
3    6565    healthy
4    8211    healthy
..    ...        ...
478  8382  unhealthy
479  8372  unhealthy
480  8372  unhealthy
481  8379  unhealthy
482  8368  unhealthy

[483 rows x 2 columns]

In [6]:
data['y'].replace(to_replace=["healthy","unhealthy"],value=[0,1],inplace=True)

In [7]:
data['y']

0      0
1      0
2      0
3      0
4      0
      ..
478    1
479    1
480    1
481    1
482    1
Name: y, Length: 483, dtype: int64

In [8]:
X = data[["X"]]
X

        X
0    1657
1    3296
2    4930
3    6565
4    8211
..    ...
478  8382
479  8372
480  8372
481  8379
482  8368

[483 rows x 1 columns]

In [9]:
y = data["y"]

In [10]:
y

0      0
1      0
2      0
3      0
4      0
      ..
478    1
479    1
480    1
481    1
482    1
Name: y, Length: 483, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Decision Tree

In [12]:
dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)
y_pred = dt.predict(X_test)
acc=accuracy_score(y_test,y_pred)*100
print(f"The accuracy of the Decision Tree Model is {acc}")

The accuracy of the Decision Tree Model is 96.90721649484536

## Random Forest

In [13]:
clf=RandomForestClassifier(n_estimators=30)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
acc=accuracy_score(y_test,y_pred)*100
print(f"The accuracy of the Decision Tree Model is {acc}")

The accuracy of the Decision Tree Model is 96.90721649484536

## ANN

In [14]:
ann_model = Sequential([Dense(12, input_dim=1, activation='relu'),
                   Dense(8, activation='relu'),
                   Dense(1, activation='sigmoid')])
ann_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 12)                24
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 104
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 9
=================================================================
Total params: 137
Trainable params: 137
Non-trainable params: 0
_________________________________________________________________

In [15]:
ann_model.compile(
    optimizer = optimizer,
    loss = 'binary_crossentropy',
    metrics = ['accuracy']
)

In [16]:
ann_model.fit(X_train,y_train,epochs=50)

Epoch 1/50
13/13 [==============================] - 0s 1ms/step - loss: 2.3382 - accuracy: 0.9922
Epoch 2/50
13/13 [==============================] - 0s 1ms/step - loss: 1.2416 - accuracy: 0.9922
Epoch 3/50
13/13 [==============================] - 0s 1ms/step - loss: 0.3389 - accuracy: 0.9870
Epoch 4/50
13/13 [==============================] - 0s 1ms/step - loss: 0.6983 - accuracy: 0.0078
Epoch 5/50
13/13 [==============================] - 0s 1ms/step - loss: 0.6893 - accuracy: 0.9093
Epoch 6/50
13/13 [==============================] - 0s 1ms/step - loss: 0.6802 - accuracy: 0.9922
Epoch 7/50
13/13 [==============================] - 0s 1ms/step - loss: 0.6717 - accuracy: 0.9922
Epoch 8/50
13/13 [==============================] - 0s 1ms/step - loss: 0.6637 - accuracy: 0.9922
Epoch 9/50
13/13 [==============================] - 0s 1ms/step - loss: 0.6561 - accuracy: 0.9922
Epoch 10/50
13/13 [==============================] - 0s 1ms/step - loss: 0.6489 - accuracy: 0.9922
Epoch 11/50
13/13 [==============================] - 0s 1ms/step - loss: 0.6419 - accuracy: 0.9922
Epoch 12/50
13/13 [==============================] - 0s 1ms/step - loss: 0.6351 - accuracy: 0.9922
Epoch 13/50
13/13 [==============================] - 0s 1ms/step - loss: 0.6285 - accuracy: 0.9922
Epoch 14/50
13/13 [==============================] - 0s 1ms/step - loss: 0.6221 - accuracy: 0.9922
Epoch 15/50
13/13 [==============================] - 0s 1ms/step - loss: 0.6157 - accuracy: 0.9922
Epoch 16/50
13/13 [==============================] - 0s 1ms/step - loss: 0.6096 - accuracy: 0.9922
Epoch 17/50
13/13 [==============================] - 0s 1ms/step - loss: 0.6035 - accuracy: 0.9922
Epoch 18/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5975 - accuracy: 0.9922
Epoch 19/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5917 - accuracy: 0.9922
Epoch 20/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5859 - accuracy: 0.9922
Epoch 21/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5802 - accuracy: 0.9922
Epoch 22/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5746 - accuracy: 0.9922
Epoch 23/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5691 - accuracy: 0.9922
Epoch 24/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5638 - accuracy: 0.9922
Epoch 25/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5587 - accuracy: 0.9922
Epoch 26/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5536 - accuracy: 0.9922
Epoch 27/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5485 - accuracy: 0.9922
Epoch 28/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5434 - accuracy: 0.9922
Epoch 29/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5383 - accuracy: 0.9922
Epoch 30/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5333 - accuracy: 0.9922
Epoch 31/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5283 - accuracy: 0.9922
Epoch 32/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5234 - accuracy: 0.9922
Epoch 33/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5185 - accuracy: 0.9922
Epoch 34/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5137 - accuracy: 0.9922
Epoch 35/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5090 - accuracy: 0.9922
Epoch 36/50
13/13 [==============================] - 0s 1ms/step - loss: 0.5043 - accuracy: 0.9922
Epoch 37/50
13/13 [==============================] - 0s 2ms/step - loss: 0.4997 - accuracy: 0.9922
Epoch 38/50
13/13 [==============================] - 0s 2ms/step - loss: 0.4951 - accuracy: 0.9922
Epoch 39/50
13/13 [==============================] - 0s 2ms/step - loss: 0.4906 - accuracy: 0.9922
Epoch 40/50
13/13 [==============================] - 0s 1ms/step - loss: 0.4862 - accuracy: 0.9922
Epoch 41/50
13/13 [==============================] - 0s 1ms/step - loss: 0.4817 - accuracy: 0.9922
Epoch 42/50
13/13 [==============================] - 0s 2ms/step - loss: 0.4774 - accuracy: 0.9922
Epoch 43/50
13/13 [==============================] - 0s 2ms/step - loss: 0.4731 - accuracy: 0.9922
Epoch 44/50
13/13 [==============================] - 0s 1ms/step - loss: 0.4688 - accuracy: 0.9922
Epoch 45/50
13/13 [==============================] - 0s 1ms/step - loss: 0.4646 - accuracy: 0.9922
Epoch 46/50
13/13 [==============================] - 0s 2ms/step - loss: 0.4605 - accuracy: 0.9922
Epoch 47/50
13/13 [==============================] - 0s 2ms/step - loss: 0.4564 - accuracy: 0.9922
Epoch 48/50
13/13 [==============================] - 0s 2ms/step - loss: 0.4523 - accuracy: 0.9922
Epoch 49/50
13/13 [==============================] - 0s 2ms/step - loss: 0.4483 - accuracy: 0.9922
Epoch 50/50
13/13 [==============================] - 0s 2ms/step - loss: 0.4444 - accuracy: 0.9922

In [17]:
loss, acc = ann_model.evaluate(X_test, y_test)
print(f"Accuracy: {acc*100}")

4/4 [==============================] - 0s 1ms/step - loss: 0.4560 - accuracy: 0.9691
Accuracy: 96.9072163105011

In [18]:
y_pred=ann_model.predict(X_test).round()
acc=accuracy_score(y_test,y_pred)*100
print(f"Accuracy of ann is: {acc}")

Accuracy of ann is: 96.90721649484536

In [19]:
X_test

        X
292  8428
58   8265
62   8234
16   8260
178  8352
..    ...
191  8354
364  8401
290  8431
332  8349
434  8346

[97 rows x 1 columns]

In [20]:
test = pd.read_excel("test.xlsx")
type(test)

pandas.core.frame.DataFrame

In [21]:
test

        X
0    1702
1    3412
2    5116
3    6828
4    8535
..    ...
118  8481
119  8502
120  8498
121  8495
122  8498

[123 rows x 1 columns]

### Predicting the testing model with ANN

In [22]:
y_pred_ann = ann_model.predict(test).round()
y_pred_ann = y_pred_ann.flatten()
y_pred_ann

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0.], dtype=float32)

### Predicting the testing data with Decision Tree

In [23]:
y_pred_dTree = dt.predict(test)

### Predicting the testing data with Random Forest

In [24]:
y_pred_RF = clf.predict(test)

In [25]:
temp = {'Decision Tree':y_pred_dTree,
        'Random Forest':y_pred_RF,
        'ANN':y_pred_ann}
temp=pd.DataFrame(temp)

In [26]:
df = test.append(temp)
df

          X  Decision Tree  Random Forest  ANN
0    1702.0            NaN            NaN  NaN
1    3412.0            NaN            NaN  NaN
2    5116.0            NaN            NaN  NaN
3    6828.0            NaN            NaN  NaN
4    8535.0            NaN            NaN  NaN
..      ...            ...            ...  ...
118     NaN            0.0            0.0  0.0
119     NaN            0.0            0.0  0.0
120     NaN            0.0            0.0  0.0
121     NaN            0.0            0.0  0.0
122     NaN            0.0            0.0  0.0

[246 rows x 4 columns]

In [28]:
df.to_excel("test_result.xlsx")

In [29]:
test_result = pd.read_excel("test_result.xlsx")
test_result

        X  Decision Tree  Random Forest  ANN
0    1702              0              0    0
1    3412              0              0    0
2    5116              0              0    0
3    6828              0              0    0
4    8535              0              0    0
..    ...            ...            ...  ...
118  8481              0              0    0
119  8502              0              0    0
120  8498              0              0    0
121  8495              0              0    0
122  8498              0              0    0

[123 rows x 4 columns]